*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}

:root{
    --primary-color: #107fe0;
    --border-color: rgba(0, 0, 0, 0.267);
    --link-color: rgba(0, 0, 0, 0.623);
    
    --btn-hover: #0662b3;
}

body{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
    font-size: 80%;
}

.paragraph{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.btn{
    font-weight: 500;
    font-size: 1.3rem;
    padding: .8em 1.5em;
    border-radius: 3px;
    border: none;
    transition: 0.3s all;
    cursor: pointer;
}
.btn-primary{
    background-color: var(--primary-color);
    color: #fff;
}
.btn-primary:hover{
    background-color: var(--btn-hover);
}
/*======Nav====*/

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: 1em 1.5em;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
.lists{
    list-style-type: none;
}
.links{
    text-decoration: none;
    color: var(--link-color);
    font-weight: 600;
    font-size: 1.2rem;
    transition: 0.3s all;
}
.links:hover{
    color: var(--primary-color);
}
.logo-title{
    color: var(--primary-color);
    font-size: 2.5rem;
    
}

.nav-menu ul li{
    display: inline-block;
    margin: 0 1em 0 0;
}

/*=====Hero Section ===*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-container{
    height: 500px;
}
.hero-content{
    text-align: center;
    width: 650px;
    padding: 10px;
}
.hero-content .paragraph{
    font-size: 1.9rem;
    margin: 5px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hero-title{
    font-size: 4rem;
    line-height: 1.22em;
    font-weight: 900;
}
.hero-btn{
    margin-top: 25px;
}

@media screen and (max-width: 876px){
    html{
        font-size: 67%;
    }
    .container{
        padding: 0rem 0rem;  
    }

    .hero-container{
        height: 400px;
        margin: 0 10px;
    }
    .hero-title{
        font-size: 2.7rem;
    }
}

/*=======Installation Section =======*/
.installation-section{
    display: block;
    margin: 0 30px;
    padding: 1.9em 0.5em 2.3em 0.5em;
}
.section-headings{
    font-size: 2.2rem;
}

.installation-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    padding: 20px;
}
.installation-container div{
    padding: 1.3em;
}
.installation-box1 .paragraph{
    margin: 10px 0;
}
 

@media screen and (max-width: 876px){
    .installation-section{
        margin: 0 5px;
    }
    .installation-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding: 0;
    }
    .installation-box1 .paragraph{
        font-size: 1.5rem;
    }
}

/*====Footer====*/

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.8em;
    background-color: var(--border-color);
}
footer .paragraph{
    font-size: medium;
    font-weight: 500;
}
footer ul li{
    display: inline-block;
    margin-right: 15px;
}
footer .links{
    font-size: 1.4rem;

}