    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        word-wrap: break-word;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
        background-color: var(--body-background);
    }
    
    html {
        scroll-behavior: smooth;
        font-size: 67%;
    }
    /*=====Hero Section ===*/
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero-container {
        height: 400px;
        margin: 0 10px;
    }
    
    .hero-content {
        text-align: center;
        max-width: 650px;
        padding: 10px;
    }
    
    .hero-content .paragraph {
        font-size: 1.7rem;
        margin: 5px 0;
    }
    
    .hero-title {
        font-size: 2.9rem;
        line-height: 1.22em;
        font-weight: 900;
        color: #282828;
    }
    
    .hero-btn {
        margin-top: 25px;
    }
    
    @media screen and (min-width: 768px) {
        html {
            font-size: 77%;
        }
        .container {
            padding: 4em 0rem;
        }
        .hero-container {
            height: 550px;
        }
        .hero-title {
            font-size: 4rem;
        }
        .hero-content .paragraph {
            font-size: 1.9rem;
        }
    }
    /*=======Installation Section =======*/
    
    .installation-section {
        display: block;
        margin: 0 10%;
        padding: 1.9em 0.5em 9em 0.5em;
    }
    
    .installation-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
    }
    
    .installation-container div {
        padding: 2em;
        border-radius: 10px;
        background-color: #fff;
    }
    
    .installation-box1 .paragraph {
        margin: 10px 0;
    }
    
    .documentation-btn {
        margin-top: 20px;
    }
    
    .installation-box2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        /* overflow-y: scroll; */
    }
    
    .installation-box1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    @media screen and (max-width: 876px) {
        .installation-section {
            margin: 0 5px;
        }
        .installation-container {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            padding: 0;
        }
        .installation-container div {
            padding: 1.3em;
        }
        .installation-box1 .paragraph {
            font-size: 1.5rem;
        }
    }