 .responsive-images {
     border-radius: 10px;
     width: 100%;
     height: auto;
     object-fit: cover;
 }
 
 .rounded-images {
     border-radius: 50%;
     width: 25rem;
     height: 25rem;
     object-fit: cover;
 }