h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
}

::placeholder {
    font-size: small;
    font-family: 'Poppins', sans-serif;
}

:root {
    --sidebar-background: #e7e7e7;
    --primary-color: #107fe0;
    --border-color: rgba(0, 0, 0, 0.123);
    --link-color: rgba(0, 0, 0, 0.623);
    --primary-hover: #0662b3;
    --paragraph-color: rgba(53, 53, 53, 0.952);
    --body-background: #F7F7F7;
    --footer-background: rgba(0, 0, 0, 0.082);
    --headings-color: #282828;
    --box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
    --smooth-shadow: 0.9px 2.8px 4.2px rgba(0, 0, 0, 0.404), 2.2px 6.7px 5.3px rgba(0, 0, 0, 0.363), 4.1px 12.5px 10px rgba(0, 0, 0, 0.035), 7.4px 22.3px 17.9px rgba(0, 0, 0, 0.042), 13.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 33px 100px 80px rgba(0, 0, 0, 0.07);
    /*=Component badge varibles==*/
    --badge-border: #fff;
    --status-online: green;
    --status-offline: red;
    --status-away: yellow;
    --status-distrub: rgb(117, 117, 117);
    /*=Component button varibles==*/
    --btn-secondary: rgba(34, 34, 34, 0.329);
    --secondary-hover: rgba(15, 15, 15, 0.479);
    --btn-success: green;
    --btn-success-hover: rgb(2, 109, 2);
    --text-color: #F7F7F7;
    --btn-danger: red;
    --btn-danger-hover: rgb(197, 5, 5);
    --btn-warning: rgb(184, 184, 38);
    --btn-warning-hover: rgb(138, 138, 24);
    --btn-dark: #282828;
    --btn-dark-hover: #2e2b2b;
    --card-display-background: #EDEDED;
    --paragraph-font: "Open Sans", sans-serif;
    /*====card variable */
    --overlay-background: rgba(161, 160, 160, 0.877);
    /*=====*/
    --input-border: rgba(0, 0, 0, 0.315);
    --secondary-color: rgba(17, 17, 17, 0.705);
    --secodany-input-outline-color: rgba(17, 17, 17, 0.705);
    --modal-background: #1D1E22;

    /*=====rating*/
    --rating-color: rgb(247, 162, 6);
}

.bg-primary{
    background-color: var(--primary-color);
}

.sm-rounded{
    border-radius: 5px;
}

.md-rounded{
    border-radius: 10px;
}

.lg-rounded{
    border-radius: 15px;
}

.component-classes {
    color: var(--primary-color);
}

.paragraph {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: var(--paragraph-color);
}

.btn {
    font-weight: 500;
    font-size: 1.3rem;
    padding: 0.8em 1.5em;
    border-radius: 3px;
    border: none;
    transition: 0.3s all;
    cursor: pointer;

}

.column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.btn-primary:hover {
    background-color: var(--primary-hover);
}

.lists {
    list-style-type: none;
}

.links {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 600;
    font-size: 1.2rem;
    transition: 0.3s all;
}

.links:hover {
    color: var(--primary-color);
}

.large-headings {
    font-size: 2.2rem;
    color: #282828;
}

.small-heading {
    font-size: 1.5rem;
    color: #282828;
}


/* .subheadings {} */

.code-snippet {
    width: 100%;
    height: auto;
    border: 0;
    border-radius: 10px;
    word-wrap: break-word;
}

.version {
    color: var(--headings-color);
    font-weight: 500;
    font-size: 0.9rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space-around {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-text {
    padding: 0 0.5em;
    text-decoration: underline;
    cursor: pointer;
    text-transform: capitalize;
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.img-rounded {
    border-radius: 50%;
}