/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #107fe0; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0662b3; 
  }